
html, body, table {
    background-color: #f5f5f5;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    width: 100%;
}
.form-signin-heading {
    color: #0663a2;
    font-family: Helvetica,Georgia,Arial,sans-serif,ºÚÌå;
    font-size: 36px;
    margin-bottom: 20px;
}
.form-signin {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    margin: 0 auto 20px;
    max-width: 300px;
    padding: 25px 29px 29px;
    position: relative;
    text-align: left;
}
.form-signin .checkbox {
    color: #0663a2;
    margin-bottom: 10px;
}
.form-signin .input-label {
    color: #999;
    font-size: 16px;
    line-height: 23px;
}
.form-signin .input-block-level {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px;
}
.form-signin .btn.btn-large {
    font-size: 16px;
}
.form-signin #themeSwitch {
    bottom: 10px;
    position: absolute;
    right: 15px;
}
.form-signin div.validateCode {
    padding-bottom: 15px;
}
.mid {
    vertical-align: middle;
}
.header {
    height: 80px;
    padding-top: 20px;
}
.alert {
    margin: 0 auto;
    position: relative;
    width: 300px;
}
label.error {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: inherit;
    font-weight: normal;
    margin: 0;
    width: 270px;
}
