@CHARSET "UTF-8";

*{
	padding:0;
	margin:0;
}
html,
body {
  color: #505050;
  line-height: 1.75em;
  background: #ebebeb;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
}

.ask-input{
	height: 40px;
	line-height: 40px;
}

.btn {
	color: #fff;
	font-size: 14px;
	line-height: 40px;
	padding: 0;
	display: inline-block;
	cursor: pointer;
	margin: 5px;
	text-decoration: none !important;
	width: 100px;
	height: 40px;
	border-width: 0;
	/*background-color: #fff;*/
	border-width: 0;
}

.btn-red {
	background-color: #f01400;
	border-color: transparent;
}

.ctrl-bar>span {
	display: inline-block;
	height: 24px;
	border: 1px solid #d0d6d9;
	padding: 0 10px;
	cursor: pointer;
	margin: 0 2px;
}

.agree-with:hover, .answer:hover {
	border: 1px solid #5cb85c;
}

.oppose:hover {
	border: 1px solid #f01400;
}