.container {
	width: 400px;
	background-color: #fff;
	text-align: center;
	margin-top: 100px;
}

form {
	width: 325px;
	margin: 20px;
}

input, button {
	width: 270px;
	height: 40px !important;
	padding-top: 3px !important;
	padding-bottom: 3px !important;
}

.form-group {
	margin-top: 20px;
	margin-bottom: 0px;
}